body {
	background-color: #4dd7c5;
	box-sizing: border;
	width: 720px;
}

body a {
	text-decoration: none;
	color: #246f42;
}

h1, h2, h4, p, a {
	color: rgb(255, 255, 255);
	font-family: "Montserrat", "Arial", sans-serif;
}

h1 {
	margin: 0px;
	background-color: #246f42;
	font-size: 22px;
	padding: 16px;
	font-size: 40px;
	text-align: center;
}

h2 {
	background-color: #32793f;
	font-size: 22px;
	padding: 12px;
}

h4 {
	background-color: #47a669;
	font-size: 18px;
	padding: 9px;
}

p {
	font-size: 16px;
	text-align: justify;
}

blockquote p {
	color: rgb(0, 0, 0);
	background-color: #8EFFEC;
	width: 300px;
	border: 0.3em solid #246f42;
	padding: 1em;
}